html {
    margin-left: 100px;
    margin-right: 100px;
    background-color: lightgray;
}

body {
    background-color: white;
    padding: 16px;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

article {
    min-height: 400px;
}

nav ul {
    list-style: none;
    background-color: lightgray;
    padding: 16px;
    border-radius: 32px;
}

nav ul li {
    display: inline-block;
    margin-right: 32px;
}

nav ul li :hover {

    background-color: white;
}

nav ul li a { 
    border: 1px solid black;
    padding: 8px;
    border-radius: 16px;
    text-decoration: none;
    color: black;
}