<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Alunos cadastrados</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr> 
                <th>Name</th>
                <th>Age</th>
                <th>Grade</th>
                <th>Average</th>
              </tr>
            </thead>
            <tbody *ngIf="alunos">
              <tr *ngFor="let aluno of alunos"> 
                <td>{{aluno.nome}}</td>
                <td>{{aluno.idade}}</td>
                <td>{{aluno.notas}}</td> 
                <td>{{calcularMedia(aluno.notas)}}</td> 
              </tr>
              
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
